body {
  min-width:200px;
  font-size: 18px;
}

.btn {
  border: none;
  padding: 8px 16px;
  font-family : Century Gothic;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {background: #eee;}

.save {color: white; background-color: 	mediumseagreen;}
.copy {color: white; background-color: dodgerblue;}
.warning {color: white; background-color: 	orange;}
.danger {color: white; background-color: 	red;}
.default {color: white; background-color: 	grey;}