<meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .btn {
          border: none;

          padding: 8px 16px;
          font-family : Century Gothic
          font-size: 16px;
          cursor: pointer;
          display: inline-block;
        }

        .btn:hover {background: #eee;}

        .success {color: white; background-color: dodgerblue;}
        .info {color: dodgerblue;}
        .warning {color: orange;}
        .danger {color: red;}
        .default {color: black;}

        /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

<span style="font-family: 'Century Gothic'; ">


    </style>

